.header {
  display: flex;
  align-items: center;
  min-height: 70px;
  width: 100%;
  background-color: #091f40;
  padding-top: 10px;
    padding-bottom: 10px;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 3rem;
}
.btnLogout {
  padding: 5px 5px;
  margin-right: 10px;
  width: 70px;
  background-color: #680404;
  border: 2px solid #680404;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
}
.btnLogout:hover {
  background-color: #ffffff;
  border: 2px solid #680404;
  color: #680404;
  cursor: pointer;
}
.title {
  border: 2px solid #680404;
  color: #680404;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  padding: 10px;
}
